@{
    ViewData["Title"] = "Home Page";
}
@model BlackJack.WEB.ViewModels.RegisterViewModel

    <h2>Register new user</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" placeholder="Enter Email"/>
        
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" placeholder="Password"/>
 
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" placeholder="Password"/>
    
    </div>
    <br />
    <div>
        <input type="submit" value="Register" class="btn btn-success"/>
    </div>
</form>
