@{
    ViewData["Title"] = "Home Page";
}


@if (!User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Home" asp-action="GoPlay">
        <input name="userName" type="text" list=@ViewBag.UserList autocomplete="on" id="name" />
        <datalist id=@ViewBag.UserList>
            @foreach (var item in ViewBag.UserList)
            {
                <option name=@item.UserName>@item.UserName</option>
            }
        </datalist>

        <div>
            <input type="submit" value="Далее" />
        </div>
    </form>
}
else
{
<div class="container">
    <form method="post" asp-controller="Game" asp-action="Index">
        <div class="col-md-4 offset-md-4 form-group">
            <label for="bots">Bots</label>
            <input type="number" name="botsCount" class="form-control" id="bots" />

            <label for="playerName">Player name</label>
            <input type="text" name="playerName" class="form-control" id="playerName" />
            <hr />
            <button type="submit" class="btn btn-outline-success form-control">Go Play</button>
        </div>
    </form>
   </div>
}
