<h3 class="alert alert-info">Start new game</h3>
<form [formGroup]="startGameForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="botCount">Bot count</label>
        <input formControlName="botCount" type="number" max="6" min="0" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.botCount.errors }"/>
        <div *ngIf="submitted && f.botCount.errors" class="invalid-feedback">
                <div *ngIf="f.botCount.errors.required">Pick count of bots</div>
            </div>
    </div>

    <div class="form-group">
        <label for="playerName">Player name</label>
        <input type="text" formControlName="playerName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.playerName.errors }" placeholder="Enter player name" />
        <div *ngIf="submitted && f.playerName.errors" class="invalid-feedback">
            <div *ngIf="f.playerName.errors.required">Enter player name</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Go Play!</button>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}}</div>
</form>
