<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of model" class="align-middle">
      <th class="align-middle">
        {{item.playerName}}
      </th>
      <th class="align-middle">
        {{item.totalCount}}
      </th>
      <th>
        <img *ngFor='let l of item.cards' src="../../assets/images/{{l.cardId}}.png" width="70px" style="margin: 10px">
      </th>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="col-md-4 offset-4">
    <a class="btn btn-danger" (click)='Hit()'>Hit</a>
    <a class="btn btn-success" (click)='Enough()'>Enough</a>
    <a class="btn btn-primary" (click)='FinishRound()'>FinishRound</a>
  </div>
</div>